REDIS_HOST=redis-db
REDIS_PASSWORD=interpolator
REDIS_QUEUE_NAME=interpolation_tasks

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=interpolator

POSTGRES_HOST=pg-db
POSTGRES_USER=interpolator
POSTGRES_PASSWORD=interpolatorpass
POSTGRES_DB=video_interpolation

MINIO_HOST=minio-db
MINIO_ROOT_USER=interpolator
MINIO_ROOT_PASSWORD=interpolatorpass
MINIO_BUCKET_NAME=videos
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_PUBLIC_SECURE=false
MINIO_REGION=us-east-1

FRONTEND_PORT=8080

BACKEND_PORT=8000

RIFE_SERVICE_URL=mock://local
RIFE_API_PATH=/interpolate_video
RIFE_REQUEST_TIMEOUT=600
RIFE_MOCK_DELAY_SECONDS=3
RIFE_MOCK_SHOULD_FAIL=false
